@import "../../variables";

.header {
  padding: 20px 0px 20px 0px;
  position: absolute;
  width: 100%;
  z-index: 100;
  background: #fff;
  &__conteiner {
    display: flex;
    justify-content: space-between;
  }
  &__ul {
    display: flex;
    align-items: center;
  }
  &__list {
    margin: 0px 10px;
    .active {
      position: relative;
      text-decoration: red wavy underline;
    }
    a {
      padding: 10px;
      text-decoration: none;
      color: #1d242e;
      font-size: 16px;
      &:last-child {
        margin: 0;
      }
    }
  }
  &__button {
    transition: 0.5s;
    border-radius: 0.5rem;
    background: #ebf4fa;
    padding: 10px;
    text-decoration: none;
    color: #64748b;
    &:hover {
      transition: 0.5s;
      background: #d6e4ed;
    }
  }
}
.logo {
  cursor: help;
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #1d242e;
  position: relative;
  &__text {
    position: absolute;
    left: 2px;
    bottom: 5px;
    font-size: 17px;
    font-weight: bold;
    color: #fff;
  }
}

.header-fixed {
  max-width: 850px;
  position: fixed;
  width: 100%;
  margin: 15px 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 20px;
  padding: 10px 0;
  z-index: 100;
  background-blend-mode: overlay;
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  color: #000;
  -webkit-text-stroke-color: black;
  background-color: rgba(255, 255, 255, 0.18);
  box-shadow: 0 2px 13px rgba(0, 0, 0, 0.2);
  .logo {
    width: 40px;
    height: 40px;
    &__text {
      display: none;
    }
  }
}

@media (max-width: 740px) {
  .header {
    &__ul {
      li{

        display: none;
      }
    }
  }
}
